*{
    padding: 0px;
    margin: 0px;
}
*,::after,::before{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #1f1f1f;   
    font-family: "Nunito", sans-serif;
 
}

.index_page{
    display: flex;
    justify-content: start;
    /* position: relative; */
}

.main_page{
    width: 100%;
     /* height: 5200px;    */
     margin-left:300px ;  
     /* background-color: aqua; */
}

.header{
    padding: 20px;    
    display: flex;
    justify-content: start;
    width: 300px;
    height: 100%;
        overflow: hidden;

     animation: mymove 0.7s ease;
  animation-delay: 0.1s;
  animation-fill-mode: both;
 
  position: fixed;
    /* visibility: hidden; */
}

@keyframes mymove {
   0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
      
    }
}


.bi-x
{
    visibility: hidden;
}

@media only screen and (max-width:600px) {
    .main_page{
    width: 100vh;
     height:100vh;   
     margin-left:0px ;  
    }
    .header-toggle{
        position: absolute;
        margin: 8px;
        top:0px;
        right: 0px;
        z-index: 2;
        transform: translate(0px,0px);
        font-size: 30px;
        display: flex;
        justify-content: end;
        color: rgb(56, 55, 55);
        padding: 5px;
        font-weight: 900;
        border-radius: 100%;
        background-color: whitesmoke;
        /* background-color: rgb(165, 161, 161); */
    }
    .header{
        position: fixed;
        z-index: 1; 
        /* background-color: aqua; */
    }
    .header{
    padding: 20px;    
    display: flex;
    justify-content: start;
    width: 350px;
    height: 100%;
    animation: none;
    animation-fill-mode: both;
    transform: translateX(-100%);
    position: fixed;
}
@keyframes navopenanimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes navcloseanimation {
    0% {
        transform: translateX(0);
        
    }
    100% {
        transform: translateX(-100%);
    }
}
}

@media only screen and (max-width:600px) {

}

@keyframes slideRightMoveAnimation {
    0% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(0);
      
    }
}
@keyframes slideLeftMoveAnimation {
     0% {
        transform: translateX(60%);
        
    }
    100% {
        transform: translateX(0%);
    }
}
.hero-container{
    height: 100vh;
    position: relative;
    padding: 10px;
}
.hero-contents
{
    position: absolute;
    /* background-color: #1f1f1f; */
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
#hero-contents-row{
   display: flex;
   flex-direction: row;
    justify-content: end;
    padding: 10px;
    overflow: hidden;
    /* background-color: rgb(5, 19, 34); */
}
.hero-info{
    margin-left: 8%;
    padding: 15px;
    animation: slideRightMoveAnimation 1s ease ;
    animation-fill-mode:both ;
    animation-duration: 0.9s;
}

.profile-container{
    padding-bottom: 20px;
    padding-right: 20px;
    margin-left: 20%;
}

.profile-img{
    animation: slideLeftMoveAnimation 1s ease ;
    animation-fill-mode:both ;
    animation-duration: 0.8s;
    object-fit: cover;
    border-radius: 2em;
    box-shadow: 15px 15px rgb(107, 107, 107);
    
}

.header-container{
    border-radius: 20px;
    background-color: #1f1f1f; 
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #6d6c6c;   
}

.header-container .navmenu ul {
    width: 100%;
    padding: 0px;
}

.header-container .navmenu ul li{
    list-style-type: none;
    width: 100%;
    display: flex;
}
.lead{

    display: flex;
    justify-content:start;
}

/* .letter-content
{
    background-color: gray;
    padding: 5px;
}

.letter-content span{
    opacity: 0; 
    transform: translateY(20px);
    animation: revealLetter  0.5s forwards;
}

.letter-content span:nth-child(1){
    animation-delay:0s;
}
.letter-content span:nth-child(2){
    animation-delay:1s;
}
.letter-content span:nth-child(3){
    animation-delay:2s;
}

.letter-content span:nth-child(4){
    animation-delay:3s;
}
.letter-content span:nth-child(5){
    animation-delay:4s;
}
.letter-content span:nth-child(6){
    animation-delay:5s;
}
.letter-content span:nth-child(7){
    animation-delay:6s;
}
.letter-content span:nth-child(8){
    animation-delay:7s;
}
.letter-content span:nth-child(9){
    animation-delay:8s;
}
.letter-content span:nth-child(10){
    animation-delay:9s;
}
.letter-content span:nth-child(11){
    animation-delay:10s;
}
.letter-content span:nth-child(12){
    animation-delay:11s;
}
.letter-content span:nth-child(13){
    animation-delay:12s;
}
.letter-content span:nth-child(14){
    animation-delay:13s;
}
.letter-content span:nth-child(15){
    animation-delay:14s;
}
.letter-content span:nth-child(16){
    animation-delay:15s;
}
.letter-content span:nth-child(17){
    animation-delay:16s;
} */
.lead-content{
    background-color: #6d6c6c;
}

.lead-content{
    background-color: #252424;
    animation: letterAnimation 5s infinite;
    animation-fill-mode:both ;
    animation-delay: 1s;
    /* background-color: aliceblue; */
    width:260px;
    display: flex;
    margin-left:5px ;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x:hidden ;
    border-right: 3px solid whitesmoke;
}

@keyframes letterAnimation{
    0%{
        width: 0px;
    }
    100%{
        width: 200px;
    }
}

.navmenu ul li a{
    text-decoration: none; 
    color: #a09e9e;
    padding: 15px 10px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
    width: 100%;
    cursor: pointer;
}

.navmenu ul li a i{
    font-size: 20px;
    font-weight: 800;
    margin-right: 10px;
}

.social-links{
    display: flex;
    justify-content: start;
}   
.social-links a {
    padding: 10px 2px;
    text-decoration: none;
}
.social-links a i{
    padding:  10px 12px;
    font-size: 16px;
    color: white;
    font-weight:bold;
    border-radius: 100%;
    background-color:#a09e9e;
    display: flex;
    justify-content: center;
    border: none;
}

.navmenu ul li a i:hover {
    color: white;
}

.social-links a i:hover{
    background-color: whitesmoke;
    color: #a09e9e;
}

#demo{
    color: whitesmoke;
}

@media only screen and (max-width:600px) {
    .hero-info{
       
      /* text-align: center; */
    }
}
.home-container{
    position: relative;
    display: flex;
    text-align: start;
    background-color: blue;
}
.home_row_container{
    color: rgb(218, 216, 216);
    font-family: "Nunito", sans-serif;
    display: flex;
    width: 100%;
    height: auto;
    background-color: aqua;
    justify-content: space-between;
}

.Home_button_container{
    position: relative;
    padding: 30px 0px;
}

.Home_button{
    background-color: whitesmoke;
    padding:  18px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(46, 45, 45);
    cursor: pointer;
    border: none;
    font-weight: 800;
    margin-right: 5px; 
}
.Home_button_container .Home_btn_touch{
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}
.hero-btn:hover{
    background-color: rgb(218, 216, 216);
    color: rgb(46, 45, 45);
    box-shadow: 10px 10px 30px  4px rgb(218, 216, 216);  

}
.hero-btn{
}
.home-col-container{
    background-color: #1f1f1f;
    text-align: start;
    padding: 0px;
}

.home-col-container h1{
    font-size: 70px;
    color: rgb(218, 216, 216);
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    word-spacing: 5px;
}
.home-col-container h1 span{
  text-decoration: underline;
  font-family: "Nunito", sans-serif;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
}
.home-col-container h3{
    font-size: 30px;
    font-weight: 700;
    
    color: rgb(218, 216, 216);
}

.home-col-container p span{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-weight: 800;
}

.home-col-container p{   
    padding: 10px 0px;
    font-weight: 600;   
}

.home-col-container img{
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 15px 15px rgb(133, 133, 133);
}

.background-elements
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgb(159, 162, 165); */
    z-index: -1;
    display: flex;
    justify-content: space-around;
}
.background-elements .bg-circle{
    
    background-color: rgb(110, 112, 114);
    border-radius: 50%;
}
.background-elements .circle-1{
    /* float: right; */
    width: 200px;
    height: 200px;
 
    /* background-color: aquamarine; */
}

.background-elements .circle-2{

       width: 300px;
    height: 300px;
}

/* ************************** */


.contact-us 
{
    margin:50px 0px;
    height: 100vh;
   
}
.contact-header{
    /* background-color: rgb(13, 89, 155); */
    overflow: hidden;
    animation: contact-header 1s ease;
    margin-bottom: 80px;
    /* margin-bottom: 30px; */
    
}
@keyframes contact-header{
    0%{
        transform: translateY(100%);
    }100%{
        transform: translateY(0px);
    }
}

.contact-body{  
    display: flex;
    justify-content: start;
     /* background-color: aliceblue; */
     padding: auto;
}
@keyframes contact-info{
    0%{
        transform: translateY(100%);
    }100%{
        transform: translateY(0px);
    }
}
.contact-body-row
{
    /* background-color: aquamarine;
    padding: 20px; */
    display: flex;
    justify-content: space-between;
}
.hero-contact-info-container-body
{
    /* background-color: antiquewhite; */
    margin: 30px;
}
.hero-contact-info-container
{
    background-color: rgb(43, 40, 40);
    padding: 10px;
    margin: 10px;    
    
}
.hero-contact-info- header{
    /* background-color: aqua; */
    padding: 10px;
}

.contact-heading{
    color: whitesmoke;
    font-weight: 1000;
    padding: 0px;
}

.contact-heading-info {
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0px; 
    /* background-color: #6d6c6c; */
}

.hero-contact-info {
    /* background-color: #252424; */
    color: white;
   display: flex;
   flex-direction: row;
   justify-content: start;
    padding: 5px 0px;
    width: 100%;
}

.hero-contact-info .contact-icon{
    padding: 15px;
    /* background-color: rgb(10, 141, 255); */
    text-decoration: none;
}
.hero-contact-info .contact-icon i{
    /* background-color: rgb(62, 119, 168); */
    cursor: pointer;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size:25px;
    color: black;
    border-radius: 100%;
    border: none;
    background-color: rgb(177, 173, 173);
}

.hero-contact-info  .contact-icon i:hover{
    background-color:rgb(143, 135, 135);
    color: black;
}

.hero-contact-info .hero-contact-content  {
        padding: 20px 0px; 
}
.hero-contact-info .hero-contact-content  span{
        font-size: 14px;  
        margin-bottom: 5px;  
        color:rgb(119, 117, 117);
}

.hero-contact-info .hero-contact-content  h5{
        font-size: 24px;    
        color: black;
        text-wrap: nowrap;
        font-weight: bold;
}


.hero-contact-input-container{
     display: flex;
    flex-direction: row;
    padding: 10px 0px;
    justify-content: space-between;
}

.hero-contact-input-container input,textarea{
    width: 100%;
    padding: 18px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    outline: 1px solid rgb(94, 91, 91);   
}

.hero-contact-input-container input::placeholder{
    width: 100%;
    padding: 8px;
    color: whitesmoke;
}

.hero-contact-input-container input:focus{
    outline: 2px solid rgb(206, 198, 198);
}
.hero-contact-input-container textarea::placeholder{
    padding: 8px;
    color: whitesmoke;
}

.hero-contact-input-container textarea{
    height: 200px;
}

.hero-contact-input-container textarea:focus{
    outline: 2px solid rgb(206, 198, 198);
    padding: 18px 15px;
}

.hero-contact-input-container .btn-msg {
    padding: 15px 30px;
    color: black;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    background-color:white;
}

.hero-contact-input-container .btn-msg:hover{
    color: black;
    background-color:rgb(196, 192, 192) ;
}

.footer-container{
    border-top: 1px solid rgb(90, 87, 87);
}

.profiles-img{
    border: 4px solid gray;
}

.resume-container-1{
    background-color: #6d6c6c;
    padding: 20px;
    border-radius: 10px;
}